parameters:

services:
    _defaults:
        autowire: true      
        autoconfigure: true
    
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    Redis:
        class: Redis
        calls:
            - connect:
                - '%env(REDIS_URL)%'

    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - '@Redis'

    # Cache service
    App\Service\CacheService:
        autowire: false'