name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-24.04
    
    strategy:
      matrix:
        php: ['8.3', '8.4']
    
    name: PHP ${{ matrix.php }} tests
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: mbstring, xml, ctype, iconv, intl, pdo_mysql
        coverage: none
    
    - name: Install dependencies
      env:
        COMPOSER_NO_INTERACTION: 1
      run: |
        composer validate --strict
        composer install --prefer-dist --no-progress
    
    - name: Run tests
      run: vendor/bin/phpunit